:root {
  --color1: #976aec;
  --color2: #7963e3;
  --darkColor: #121226;
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  font-size: 105%;
}

body {
  color: #111;
  min-height: 100%;
}
header {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 1.4rem 0 0.6rem 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 115%;
  }
  h4 {
    font-size: 105%;
  }
  h1,
  h2 {
    margin: 0.8rem 0 0.2rem;
  }
  h3,
  h4 {
    margin: 0.4rem 0 0.1rem;
  }
}

p {
  margin: 0 0 0.4rem;
}

ul,
ol {
  padding-left: 1.6rem;
}

button {
  cursor: pointer;
}

details summary {
  cursor: pointer;
}

fieldset {
  border: none;
}
