:root {
  --color: #000093;
  --lightColor: #2a82dd;
  --darkColor: #121226;
  --lighterColor: #d1d1fb;
  --lightestColor: #f5f5fe;
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  font-size: 105%;
}

body {
  color: #111;
  min-height: 100%;
}
header {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 1.4rem 0 0.6rem 0;
}

h1 {
  font-size: 220%;
  margin: 3rem 0 1.8rem;
}
h2 {
  font-size: 180%;
  margin: 2rem 0 1.2rem;
}
h3 {
  font-size: 130%;
  margin: 1rem 0 0.8rem;
}
h4 {
  font-size: 120%;
  margin: 0.8rem 0 0.6rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 115%;
  }
  h4 {
    font-size: 105%;
  }
  h1,
  h2 {
    margin: 0.8rem 0 0.2rem;
  }
  h3,
  h4 {
    margin: 0.4rem 0 0.1rem;
  }
}

p {
  margin: 0 0 0.4rem;
}

ul,
ol {
  padding-left: 1.6rem;
}

button {
  cursor: pointer;
}

details summary {
  cursor: pointer;
}

fieldset {
  border: none;
}

input[type]:not([type='checkbox']):not([type='radio']) {
  height: 2.2rem;
  text-align: right;
  padding-right: 0.4rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  background: var(--lightestColor);
  border: none;
  border-bottom: 2px solid var(--color);
  font-size: 95%;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgba(61, 59, 53, 0.16) 0px 0px 0px 1px,
    rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
}
input[type='number'] {
  width: 8rem;
}
