:root {
  --color: #000091;
  --lightColor: #2a82dd;
  --darkColor0: #020254;
  --darkColor: #121226;
  --lighterColor0: #c0c0fb;
  --lighterColor: #d1d1fb;
  --lighterColor2: #e4e4f8;
  --lighterColor3: #dfdff1;
  --lightestColor: #f5f5fe;
  --mutedColor: #666666;
  --validColor: #18753c;
  --validColor1: #bff1c5;
  --warningColor: #fdf8db;
  --shadow-color: 180deg 2% 70%;
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.31),
    0.7px 1.3px 1.6px -1px hsl(var(--shadow-color) / 0.29),
    1.7px 3.5px 4.1px -2px hsl(var(--shadow-color) / 0.26),
    4.3px 8.7px 10.2px -3px hsl(var(--shadow-color) / 0.23);
  accent-color: var(--color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  background: white;
}

body {
  color: #111;
  min-height: 100%;
}
header {
  margin: 0 auto;
}
main {
  padding: 0 0 1em 0;
}

p {
  margin: 0 0 0.4rem;
  line-height: 1.6rem;
}

ul,
ol {
  padding-left: 1.6rem;
}

button {
  cursor: pointer;
  padding: 0rem 0.3rem;
  font-size: inherit;
}

details summary {
  cursor: pointer;
}

input[type='number'] {
  width: 8rem;
}

input::placeholder {
  color: var(--lighterColor3);
}

.fr-checkbox-rich {
  padding-left: 1rem;
  margin-left: 0;
  align-self: stretch;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%, 1rem 1rem, 1rem 1rem;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 0, 100% 0, 0 100%, 0 0, 1rem 50%, 1rem 50%;
  background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));
  background-color: var(--background-default-grey);
  --idle: transparent;
  --hover: var(--background-default-grey-hover);
  --active: var(--background-default-grey-active);
}

.fr-radio-rich input[type=checkbox]+label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  border-radius: 0;
}

.fr-checkbox-rich label {
  width: 100%;
}

.fr-checkbox-rich input[type=checkbox]:not(:disabled)~label {
  --hover-tint: var(--hover);
  --active-tint: var(--active);
}

.fr-checkbox-rich:hover {
  background-color: var(--hover);
}

.fr-checkbox-rich:active {
  background-color: var(--active);
}